<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingshixun.project.eshop.module.cart.dao.CartItemDaoMyBatis">

  <select id="getCartItemsByMember" resultType="CartItemDTO">
    SELECT
      ci.id,
      ci.totalPrice,
      ci.quantity,
      ci.member_id AS 'member.id',
      ci.product_id AS 'product.id',
      ci.order_id AS 'order.id'
    FROM
      qsx_cart_item ci
    WHERE
      ci.member_id = #{memberId}
  </select>

  <select id="getCartItem" resultType="CartItemDTO">
    SELECT
      ci.id,
      ci.totalPrice,
      ci.quantity,
      ci.member_id AS 'member.id',
      ci.product_id AS 'product.id',
      ci.order_id AS 'order.id'
    FROM
      qsx_cart_item ci
    WHERE
      ci.product_id = #{productId} AND
      ci.member_id = #{memberId}
    LIMIT 1
  </select>

  <insert id="saveCartItem">
    INSERT INTO qsx_cart_item (
      totalPrice,
      member_id,
      quantity,
      product_id,
      order_id
    )
    VALUES (
      #{totalPrice},
      #{member.id},
      #{quantity},
      #{product.id},
      0
    )
  </insert>

  <update id="updateCartItemQuantity">
    UPDATE
      qsx_cart_item
    SET
      quantity = #{quantity}
    WHERE
      id = #{id}
  </update>

  <delete id="deleteCartItem">
    DELETE FROM
      qsx_cart_item
    WHERE
      id = #{cartItemId}
  </delete>

</mapper>