<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingshixun.project.eshop.module.product.dao.ProductCategoryDaoMyBatis">

  <select id="getProductCategoriesByParent" resultType="ProductCategoryDTO">
    SELECT
      pc.id,
      pc.name
    FROM
      qsx_product_category pc
    WHERE
      <if test="parentId == null">
        pc.parent_id IS NULL
      </if>
      <if test="parentId != null">
        pc.parent_id = #{parentId}
      </if>
  </select>

</mapper>